//! **************************************************************************
// Written by: Map P.68d on Fri Aug 09 22:01:28 2013
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "ADDR<9>" LOCATE = SITE "P40" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "DATA<8>" LOCATE = SITE "P21" LEVEL 1;
COMP "DATA<9>" LOCATE = SITE "P22" LEVEL 1;
COMP "MEM_Cke" LOCATE = SITE "P33" LEVEL 1;
COMP "MEM_Clk" LOCATE = SITE "P32" LEVEL 1;
COMP "up" LOCATE = SITE "P57" LEVEL 1;
COMP "nWE" LOCATE = SITE "P6" LEVEL 1;
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P61" LEVEL 1;
COMP "A<5>" LOCATE = SITE "P66" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P67" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P75" LEVEL 1;
COMP "DQMH" LOCATE = SITE "P17" LEVEL 1;
COMP "DQML" LOCATE = SITE "P7" LEVEL 1;
COMP "nCAS" LOCATE = SITE "P5" LEVEL 1;
COMP "nRAS" LOCATE = SITE "P2" LEVEL 1;
COMP "BA<0>" LOCATE = SITE "P143" LEVEL 1;
COMP "BA<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "reset" LOCATE = SITE "P85" LEVEL 1;
COMP "MEM_CS" LOCATE = SITE "P1" LEVEL 1;
COMP "ADDR<10>" LOCATE = SITE "P141" LEVEL 1;
COMP "ADDR<11>" LOCATE = SITE "P35" LEVEL 1;
COMP "DATA<10>" LOCATE = SITE "P23" LEVEL 1;
COMP "DATA<11>" LOCATE = SITE "P24" LEVEL 1;
COMP "DATA<12>" LOCATE = SITE "P26" LEVEL 1;
COMP "DATA<13>" LOCATE = SITE "P27" LEVEL 1;
COMP "DATA<14>" LOCATE = SITE "P29" LEVEL 1;
COMP "DATA<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "ADDR<0>" LOCATE = SITE "P140" LEVEL 1;
COMP "ADDR<1>" LOCATE = SITE "P139" LEVEL 1;
COMP "ADDR<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "ADDR<3>" LOCATE = SITE "P137" LEVEL 1;
COMP "ADDR<4>" LOCATE = SITE "P46" LEVEL 1;
COMP "ADDR<5>" LOCATE = SITE "P45" LEVEL 1;
COMP "ADDR<6>" LOCATE = SITE "P44" LEVEL 1;
COMP "ADDR<7>" LOCATE = SITE "P43" LEVEL 1;
COMP "ADDR<8>" LOCATE = SITE "P41" LEVEL 1;
NET "iClocks/clkin1" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

